.btn:link, .btn:visited {
  background-color: #ff52bf;
  color: #fff;
  width: 20rem;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  text-align: center;
  margin: 4rem auto 0;
  padding: 1.5rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* this makes all elements on the page inherit the box-sizing property defined in the body element */
  box-sizing: inherit; }

html {
  /* it's bad practice to us px as the base font measurement, instead use percantage that = 10px */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a,
a:link,
a:visited {
  text-decoration: none; }

.flex {
  display: flex; }
  .flex-jc-c {
    justify-content: center; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-ai-c {
    align-items: center; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #00252e; }

.hero__heading {
  font-family: 'Poppins', sans-serif;
  font-size: 2.3rem;
  line-height: 1.5;
  text-align: center; }
  @media screen and (min-width: 56.25rem) {
    .hero__heading {
      font-size: 3rem; } }

.hero__text {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6; }

.hero__large-text {
  font-weight: 700;
  font-size: 5.5rem;
  text-align: center; }

.hero__small-text {
  font-size: 1.2rem;
  text-align: center;
  color: #8E9CA5; }

.info__heading {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-align: center; }

.info__text {
  margin: 2.2rem auto;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6; }

.cta__heading {
  font-family: 'Poppins', sans-serif; }

footer {
  color: #ffffff; }
  footer .newsletter-form__heading {
    font-size: 2rem;
    text-transform: uppercase; }
  footer .newsletter-form__text {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 3.2rem; }

.footer__header-text {
  font-size: 4.8rem; }

.footer__text {
  font-size: 1.5rem;
  line-height: 1.8; }

.header {
  width: 100%;
  padding: 3rem; }
  @media screen and (min-width: 56.25rem) {
    .header {
      padding: 4rem 6rem; } }
  .header__nav {
    width: inherit;
    flex-flow: row nowrap; }
  .header__logo-box {
    align-self: center; }
  .header__logo {
    height: 1.4rem; }
    @media screen and (min-width: 56.25rem) {
      .header__logo {
        height: 2rem; } }
  .header__cta {
    justify-content: flex-end; }
  .header-btn {
    font-size: 10px;
    text-align: center;
    color: #ff52bf;
    width: 8.5rem;
    border: 1px solid #ff52bf;
    border-radius: 50px;
    padding: .5rem 0; }
  .header .hero {
    margin-top: 10rem;
    flex-direction: column; }
    .header .hero__text {
      width: Min(100%, 45rem);
      margin: 0 auto;
      margin-top: 3.2rem; }
    .header .hero__image-box {
      margin: 10rem auto;
      width: Min(100%, 75rem); }
      .header .hero__image-box--image {
        width: 100%; }
    .header .hero__info {
      width: 20rem;
      margin: 0 auto; }
    .header .hero__info:not(:first-child) {
      margin-top: 8rem; }
      @media screen and (min-width: 56.25rem) {
        .header .hero__info:not(:first-child) {
          margin-top: 0; } }
    .header .hero__info-box {
      flex-direction: column;
      margin: 12rem auto 0;
      width: Min(100%, 75rem); }
      @media screen and (min-width: 56.25rem) {
        .header .hero__info-box {
          flex-direction: row; } }
    .header .hero__icon {
      position: relative;
      top: 10px;
      left: 30px;
      width: 2.4rem; }

.info {
  width: 100%; }
  .info__top-curve-one {
    background: url(../images/bg-section-top-mobile-1.svg) bottom center/cover no-repeat;
    width: 100%;
    position: relative;
    height: 30vh; }
    @media screen and (min-width: 56.25rem) {
      .info__top-curve-one {
        background: url(../images/bg-section-top-desktop-1.svg) bottom center/100% no-repeat; } }
  .info__bottom-curve-one {
    background: url(../images/bg-section-bottom-mobile-1.svg) bottom center/100% no-repeat;
    width: 100%;
    position: relative; }
    @media screen and (min-width: 56.25rem) {
      .info__bottom-curve-one {
        background: url(../images/bg-section-bottom-desktop-1.svg) bottom center/100% no-repeat; } }
  .info__curve-img {
    width: 100%; }
  .info__curved-box {
    flex-flow: column nowrap;
    background-color: #f5faff;
    padding-top: 9.4rem;
    padding-bottom: 6rem; }
  .info__box {
    flex-flow: column nowrap;
    margin-top: 13rem;
    margin-bottom: 13rem; }
  .info__img {
    width: Min(70%, 43rem);
    margin: 0 auto 6.4rem; }
  .info-text-container {
    width: 100%; }
  .info__heading {
    margin: 0 auto; }
  .info__text {
    width: Min(85%, 38rem); }

.cta {
  padding: 3rem;
  margin-top: 5rem;
  margin-bottom: 25rem;
  width: 100%; }
  .cta__heading {
    text-align: center; }

footer {
  background-color: #00252e;
  flex-direction: column;
  padding: 3rem; }
  footer .newsletter-form {
    width: Min(100%, 40rem); }
    footer .newsletter-form__heading {
      margin-bottom: 1.5rem; }
    footer .newsletter-form__text {
      width: Min(100%, 40rem); }
    footer .newsletter-form__input {
      flex-direction: column;
      align-items: flex-end; }
      footer .newsletter-form__input-email {
        width: Min(100%, 40rem);
        height: 5rem;
        border-radius: .6rem;
        padding: 0; }
      footer .newsletter-form__input-submit {
        width: Min(50%, 20rem);
        height: 5rem;
        background-color: #ff52bf;
        color: #fff;
        border-radius: .6rem;
        border: none;
        font-size: 1.6rem;
        text-align: center;
        padding: 0;
        margin-top: 1rem; }

.footer__container {
  flex-direction: column;
  margin-top: 3rem; }

.footer__curve {
  position: relative;
  top: 10px; }
  .footer__curve-img {
    width: 100%; }

.footer__text {
  margin-top: 1rem;
  width: Min(100%, 34rem); }

.footer__header {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 9rem auto 0; }
  .footer__header-icon {
    width: 5rem; }
    .footer__header-icon-img {
      width: 100%; }

.footer__contact {
  flex-direction: column;
  margin-top: 4rem; }
  .footer__contact-box {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .footer__contact-box:not(:first-child) {
    margin-top: 2rem; }
  .footer__contact-icon {
    margin-right: 1.6rem; }

.footer__social {
  flex-direction: row;
  justify-content: flex-start;
  margin: 6rem 0 3rem; }
  .footer__social-icon {
    width: 2.8rem;
    margin-right: 1.5rem; }

.attribution {
  padding-top: 3rem; }
