.btn:link, .btn:visited {
  background-color: #ff52bf;
  color: #fff;
  width: 20rem;
  border-radius: 50px;
  font-size: 1.2rem;
  text-align: center;
  margin: 4rem auto 0;
  padding: 1.5rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* this makes all elements on the page inherit the box-sizing property defined in the body element */
  box-sizing: inherit; }

html {
  /* it's bad practice to us px as the base font measurement, instead use percantage that = 10px */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

a,
a:link,
a:visited {
  text-decoration: none; }

.flex {
  display: flex; }
  .flex-jc-c {
    justify-content: center; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-ai-c {
    align-items: center; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #00252e; }

.hero__heading {
  font-family: 'Poppins', sans-serif;
  font-size: 2.3rem;
  line-height: 1.5;
  text-align: center; }

.hero__text {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6; }

.hero__large-text {
  font-weight: 700;
  font-size: 5.5rem;
  text-align: center; }

.hero__small-text {
  font-size: 1.2rem;
  text-align: center;
  color: #8E9CA5; }

.header {
  width: 100%; }
  .header__nav {
    width: inherit;
    flex-flow: row nowrap; }
  .header__logo-box {
    align-self: center; }
  .header__logo {
    height: 1.4rem; }
  .header__cta {
    justify-content: flex-end; }
  .header-btn {
    font-size: 10px;
    text-align: center;
    color: #ff52bf;
    width: 8.5rem;
    border: 1px solid #ff52bf;
    border-radius: 50px;
    padding: .5rem 0; }
  .header .hero {
    margin-top: 10rem;
    flex-direction: column; }
    .header .hero__text {
      margin-top: 3.2rem; }
    .header .hero__image-box {
      margin-top: 10rem; }
      .header .hero__image-box--image {
        width: 100%; }
    .header .hero__info:not(:first-child) {
      margin-top: 8rem; }
    .header .hero__info-box {
      margin: 12rem auto 0;
      width: 60%; }
    .header .hero__icon {
      position: relative;
      top: 10px;
      left: 30px;
      width: 2.4rem; }
