.header {
  width: 100%;
  padding: 3rem;

  &__nav {
    width: inherit;
    flex-flow: row nowrap;
  }

  &__logo-box {
    align-self: center;
  }

  &__logo {
    height: 1.4rem;
  }

  &__cta {
    justify-content: flex-end;
  }

  &-btn {
    font-size: 10px;
    text-align: center;
    color: $color-primary;

    width: 8.5rem;
    border: 1px solid $color-primary;
    border-radius: 50px;
    padding: .5rem 0;
  }

  .hero {
    margin-top: 10rem;
    flex-direction: column;

    &__text {
      margin-top: 3.2rem;
    }

    &__image-box {
      margin-top: 10rem;

      &--image {
        width: 100%;
      }
    }

    &__info:not(:first-child) {
      margin-top: 8rem;
    }

    &__info-box {
      margin: 12rem auto 0;
      width: 19rem;
    }


    &__icon {
      position: relative;
      top: 10px;
      left: 30px;
      width: 2.4rem;
    }

  }
}

.info {

  &__curve-top {
    position: relative;
    top: 10px;
  }

  &__curve-img {
    width: 100%;
  }

  &__curved-box {
    display: flex;
    flex-flow: column nowrap;
    background-color: hsl(207, 100%, 98%);
    padding-top: 9.4rem;
    padding-bottom: 6rem;
  }

  &__box {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 13rem;
    margin-bottom: 13rem;
  }

  &__img {
    width: 70%;
    margin: 0 auto 6.4rem;
  }

  &__heading {
    margin: 0 auto;
  }

}

.cta {
  padding: 3rem;
  margin-top: 5rem;
  width: 100%;

  &__heading {
    text-align: center;
  }
}