body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $color-dark-cyan;
}

.hero {
  &__heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    line-height: 1.5;
    text-align: center;
  }

  &__text {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.6;
  }

  &__large-text {
    font-weight: 700;
    font-size: 5.5rem;
    text-align: center;
  }

  &__small-text {
    font-size: 1.2rem;
    text-align: center;
    color: #8E9CA5;
  }
}

.info {

  &__heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;
  }

  &__text {
    width: 85%;
    margin: 2.2rem auto;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6;
  }
}

.cta {
  &__heading {
    font-family: 'Poppins', sans-serif;
  }
}

footer {
  color: #ffffff;

  & .newsletter-form__heading {
    font-size: 2rem;
    text-transform: uppercase;
  }

  & .newsletter-form__text {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 3.2rem;
  }
}

.footer {

  &__header-text {
    font-size: 4.8rem;
  }

  &__text {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.8;
  }

}