.header {
  width: 100%;

  &__nav {
    width: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__logo-box {
    display: flex;
    justify-content: flex-start;
    align-self: center;
  }

  &__logo {
    height: 1.4rem;
  }

  &__cta {
    width: 9rem;
    display: flex;
    justify-content: flex-end;
    border: 1px solid $color-primary;
    border-radius: 50px;
    padding: .5rem 0;
  }

  &-btn {
    width: inherit;
    font-size: 10px;
    text-align: center;
    color: $color-primary;
  }
}